.hero-container {
  background: url(/assets/img/bg.gif);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-position-y: 90%;
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    img {
      width: 35%;
    }
    h1 {
      font-size: 50px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 40px auto 0;
      text-shadow: 1px 1px 1px #000;
    }
    h4 {
      font-size: 21px;
      font-weight: bold;
      width: 60%;
      margin: 0 auto;
      padding-top: 0%;
      color: red !important;
    }
    button {
      margin: 10px;
    }
  }
}
.section {
  width: 100%;
  min-height: 100px;

  position: relative;
}
.section-inverted {
  background: #efeff0;
}
.content {
  text-align: center;
  padding: 30px;
  width: 75%;
  margin: 0 auto;
}
.content-small {
  width: 50% !important;
}
.content-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  padding-left: 15%;
  padding-right: 15%;
  .item {
    max-width: 45%;
    flex-grow: 1;
    align-self: flex-start;
    margin: 0 auto;
    text-align: center;
    img {
      width: 45%;
      image-rendering: pixelated;
    }
    h2 {
      text-align: center;
    }
  }
}
.visita-cinotam-container {
  width: 75%;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
  .info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .item {
      text-align: center;
      max-width: 45%;
      flex-grow: 1;
      align-self: flex-start;
      margin: 0 auto;
      img {
        width: 90%;
      }
    }
  }
}
.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 75%;
  margin: 0 auto;
  .logo {
    flex-grow: 1;
    align-self: center;
    margin: 0 auto;
    text-align: center;
  }
  .inegi {
    img {
      width: 50%;
    }
  }
  .conacyt {
    img {
      width: 50%;
    }
  }
  .gobtam {
    img {
      width: 50%;
    }
  }
}
.separator.welcome {
  width: 75%;
  margin: 0 auto;
}
.ninja-1 {
  position: absolute;
  top: 60%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  img {
    width: 100%;
  }
}
.ninja-2 {
  position: absolute;
  top: 60%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) scaleX(-1);
  filter: hue-rotate(90deg);
  img {
    width: 100%;
  }
}
.nes-progress {
  width: 60%;
  height: 25px;
}
.benefits {
  background-image: url(/assets/img/coreabg.png);
  background-size: cover;
  min-height: 100vh !important;
}
.content-benefits {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: justify;
  background-color: #ffffffab;
  * {
    color: black;
  }
}
.final {
  background-image: url(/assets/img/lastbg.png);
  background-size: cover;
  min-height: 100vh !important;
}
.content-final {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: justify;
  background-color: #0000005c;
  * {
    color: white;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero-container {
    background-size: cover;
    width: 100%;
    height: 70vh;
    .hero-text {
      z-index: 9;
      width: 100%;
      h1 {
        font-size: 30px;
      }
    }
    .ninja-1 {
      z-index: 0;
      top: 70%;
      left: 40%;
      img {
        width: 45%;
      }
    }
    .ninja-2 {
      top: 70%;
      left: 75%;
      z-index: 0;
      img {
        width: 100%;
      }
    }
  }
  .content {
    padding: 30px;
    width: 100% !important;
    h2 {
      font-size: 1em;
    }
    p {
      font-size: 0.8em;
    }
  }
  .content-benefits {
    background-color: #000000ab;
    * {
      color: white;
    }
  }
  .content-about {
    padding: 25px;
    padding-left: 0;
    padding-right: 0;
    display: inline-block !important;
  }
  .item {
    width: 100%;
    max-width: 100% !important;
    flex-grow: 1;
    align-self: stretch;
    margin: 0 auto;
    text-align: center;
  }
  .nes-container {
    border-color: #000;
    border-width: 2px;
    margin: 21px;
  }
}
.old-samurai-img {
  width: 40%;
  border-radius: 150px;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 980px) {
  .hero-container {
    width: 100%;
  }
  .hero-container {
    background-size: cover;
    width: 100%;
    height: 70vh;
    .hero-text {
      z-index: 9;
      width: 100%;
      h1 {
        font-size: 30px;
      }
    }
    .ninja-1 {
      display: none;
    }
    .ninja-2 {
      display: none;
    }
  }
  .content {
    padding: 30px;
    width: 100% !important;
    h2 {
      font-size: 1em;
    }
  }
  .nes-container {
    border-color: #000;
    border-width: 2px;
    margin: 21px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
.enfasis {
  font-size: 1.2em;
}
