<div class="hero-container">
  <div class="hero-text">
    <h1 style="color: white;" class="nes-text is-primary">HAIDONG GUMDO KIDS</h1>
    <h4 class="nes-text is-primary">Unidad, disciplina, conocimiento</h4>
    <br><br>
    <button type="button" class="nes-btn">Ver más</button>
    <button type="button" class="nes-btn">Inscribirme</button>
  </div>

  <div class="ninja-1">
    <img src="https://bengsfort.github.io/assets/pixel-art/MainCharacter_32x32_idle.gif" alt="">
  </div>
  <div class="ninja-2">
    <img src="https://bengsfort.github.io/assets/pixel-art/MainCharacter_32x32_idle.gif" alt="">
  </div>

</div>
<!-- <section class="section section-inverted">
  <app-home-buttons></app-home-buttons>
</section> -->
<section class="section">
  <div class="content">
    <h2>¿Que es eso?</h2>
    <hr />
    <p>
      El Haidong Gumdo es un arte marcial Coreano, enfocado en el manejo de la espada
      Haidong Gumdo significa “El Camino de la Espada del Mar del Este”; se basa en técnicas y tácticas de lucha contra
      varios oponentes. En su práctica se enfatiza la movilidad, la agilidad de movimientos, la defensa y el ataque en
      todas direcciones. El principal enfoque es la armonía y fluidez de movimientos en el manejo de la espada, sin
      embargo hay técnicas de combate sin el uso de la misma, éstas técnicas se enseñan conforme avanza el nivel

    </p>
  </div>
</section>
<section class="section section-inverted">
  <div class="content-about">
    <div class="item">
      <section class="nes-container with-title">
        <h3>Profesora / Sabonim</h3>
        <img src="/assets/img/karina.png" alt="">
        <br><br>
        <h3>
          Karina Lavín Lavín
        </h3>

        <h4>
          Poder
        </h4>
        <progress class="nes-progress is-primary" value="80" max="100"></progress>
        <h4>
          Velocidad
        </h4>
        <progress class="nes-progress is-primary" value="90" max="100"></progress>
        <h4>
          Resistencia
        </h4>
        <progress class="nes-progress is-primary" value="70" max="100"></progress>
      </section>
    </div>
    <div class="item">
      <section class="nes-container with-title">
        <h3>Información</h3>
        <p>
          -Creadora del <strong>T-Rex Ryu</strong>
        </p>
        <p>
          -Medallista en el EURO MULIMPIA 2020 Haidong
        </p>
        <p>
          -Medallista en el EURO MULIMPIA 2020 Taekwondo
        </p>
        <p>
          -Maratonista semiprofesional
        </p>
        <p>
          Es conocida como el Dragón Nocturno o la Última Vikinga
        </p>
      </section>
    </div>
  </div>
</section>
<!-- <section class="section">
  <div class="visita-cinotam-container">
    <h2>
      Visitanos
    </h2>
    <hr />
  </div>
</section> -->