<div class="hero-container">
  <div class="hero-text">
    <h1 style="color: white;" class="nes-text is-primary">HAIDONG GUMDO KIDS</h1>
    <h4 class="nes-text is-primary">Unidad, disciplina, conocimiento</h4>
    <br><br>
    <button type="button" routerLink="contacto" class="nes-btn">¿Como Inscribirme?</button>
  </div>

  <!-- <div class="ninja-1">
    <img src="https://bengsfort.github.io/assets/pixel-art/MainCharacter_32x32_idle.gif" alt="">
  </div>
  <div class="ninja-2">
    <img src="https://bengsfort.github.io/assets/pixel-art/MainCharacter_32x32_idle.gif" alt="">
  </div> -->

</div>
<!-- <section class="section section-inverted">
  <app-home-buttons></app-home-buttons>
</section> -->
<section class="section">
  <div class="content content-small">
    <h2>¿Que es Haidong Gumdo?</h2>
    <hr />
    <p class="text-justify">
      El Haidong Gumdo es un arte marcial Coreano, enfocado en el manejo de la espada.
      Haidong Gumdo significa “El Camino de la Espada del Mar del Este”; se basa en técnicas y tácticas de lucha contra
      varios oponentes. En su práctica se enfatiza la movilidad, la agilidad de movimientos.
    </p>
    <img src="/assets/img/samurai1.png" alt="">
  </div>
</section>
<section class="section benefits">
  <div class="content content-benefits">
    <h2>Beneficios</h2>
    <p>
      Aprender un arte marcial completa como lo es el <span class="enfasis">Haidong Gumdo</span>,
      mejora la condición física, los valores y el autoestima. Las artes marciales aportan mayor seguridad, autocontrol
      y disciplina en los niños y
      niñas,
      ayudan a canalizar el exceso de energía y Los motiva a establecerse metas.
      <strong>Un niño seguro no será víctima de bullying ni será parte de el.</strong>
    </p>
  </div>
</section>
<section class="section">
  <div class="content content-small">
    <h2>Un arte marcial para todos</h2>
    <hr />
    <p class="text-justify">
      Su práctica es idónea para personas de todas las edades, ya que la
      ausencia de contacto cuerpo a cuerpo no es tan exigente físicamente como en otras Artes Marciales.Se sustenta
      sobre todo en la agilidad y en la fluidez de movimientos, mucho más que en la potencia física. Y se enfatizan
      aspectos como la disciplina, la concentración y el entrenamiento individual por encima del combate.
    </p>
    <img class="old-samurai-img" src="/assets/img/pixelsamurai.gif" alt="">
  </div>
</section>
<section class="section final">
  <div class="content content-final">
    <h3><q>Un viaje de mil millas comienza con un primer paso</q> -Lao-Tse</h3>
    <p>
      ¡Este es el momento, forma parte de nuestra familia!
    </p>
    <div class="text-center">
      <img class="family" src="/assets/img/familypx.png">
    </div>

  </div>
</section>
<section class="section">
  <div class="content">
    <h2>¿Donde estamos?</h2>
    <hr />
    <div class="item">
      <div class="tv text-center">
        <img src="/assets/img/old_tv.png">
        <div class="info">
          <p>
            11 y 12 Morelos Zona Centro #608, Ciudad Victoria Tamaulipas
          </p>
          <br>
          <p>
            Tel. 834 111 3144
          </p>
        </div>
      </div>
      <a class="map" href="https://www.google.com/maps/dir//kaizen+martial+arts+cd+victoria/"><img
          src="https://maps.googleapis.com/maps/api/staticmap?autoscale=false&size=800x800&maptype=roadmap&key=AIzaSyAxZfcruVJn3upjn-AhCaRY-pPOq53M-Qs&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0x930000%7Clabel:%7Ckaizen+martial+arts+cd+victoria"
          alt="Google Map of kaizen martial arts cd victoria"></a>
    </div>
  </div>
</section>
<!-- <section class="section">
  <div class="content-about">
    <div class="item">
      <section class="nes-container with-title">
        <h3>Profesora / Sabonim</h3>
        <img src="/assets/img/karina.png" alt="">
        <br><br>
        <h3>
          Karina Lavín Lavín
        </h3>

        <h4>
          Poder
        </h4>
        <progress class="nes-progress is-primary" value="80" max="100"></progress>
        <h4>
          Velocidad
        </h4>
        <progress class="nes-progress is-primary" value="90" max="100"></progress>
        <h4>
          Resistencia
        </h4>
        <progress class="nes-progress is-primary" value="70" max="100"></progress>

        <section class="icon-list">
          <a target="_blank" href="https://www.instagram.com/karinadragon_/">
            <i class="nes-icon instagram is-medium"></i>
          </a>
        </section>
      </section>
    </div>
    <div class="item">
      <section class="nes-container with-title">
        <h3>Información</h3>
        <p>
          -Creadora del <strong>T-Rex Ryu</strong>
        </p>
        <p>
          -Medallista en el EURO MULIMPIA 2020 Haidong
        </p>
        <p>
          -Medallista en el EURO MULIMPIA 2020 Taekwondo
        </p>
        <p>
          -Maratonista semiprofesional
        </p>
        <p>
          Es conocida como el Dragón Nocturno o la Última Vikinga
        </p>
      </section>
    </div>
  </div>
</section> -->
<!-- <section class="section">
  <div class="visita-cinotam-container">
    <h2>
      Visitanos
    </h2>
    <hr />
  </div>
</section> -->