.center-btn {
  width: 100%;
  text-align: center;
  button {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.modal-menu-container {
  a {
    margin-bottom: 10px;
  }
}
.mat-dialog-content {
  margin: 0 auto !important;
}
