<section class="section section-inverted main-content">
  <div class="content-about">
    <div class="item">
      <section class="nes-container with-title">
        <h3>Profesora / Sabonim</h3>
        <div class="karina-img">

        </div>
        <br><br>
        <h3>
          Karina Lavín Lavín
        </h3>

        <h4>
          Poder
        </h4>
        <progress class="nes-progress is-primary" value="80" max="100"></progress>
        <h4>
          Velocidad
        </h4>
        <progress class="nes-progress is-primary" value="90" max="100"></progress>
        <h4>
          Resistencia
        </h4>
        <progress class="nes-progress is-primary" value="70" max="100"></progress>

        <section class="icon-list">
          <!-- facebook -->
          <a target="_blank" href="https://www.instagram.com/karinadragon_/">
            <i class="nes-icon instagram is-medium"></i>
          </a>
        </section>
      </section>
    </div>
    <div class="item">
      <section class="nes-container with-title">
        <h3>Información</h3>
        <p>
          Creadora del <strong>T-Rex Ryu</strong>
        </p>
        <p>
          Maratonista semiprofesional
        </p>
        <!-- <p>
          Es conocida como el Dragón Nocturno o la Última Vikinga
        </p> -->
        <p>
          Medallista Nacionales 2019 CDMX.
        </p>
      </section>
    </div>
  </div>
</section>