<div class="main-menu-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="menu-items">
      <div class="nes-menu-item" *ngFor="let item of this.routes">
        <a class="nes-btn is-primary" [routerLink]="item.url">{{ item.title }}</a>
      </div>
      <button class="nes-btn is-dark menu-custom" (click)="openMenu()">Menu</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<!--[routerLink]="item.url"-->
<dialog class="nes-dialog is-dark is-rounded" id="dialog-dark-rounded">
  <form method="dialog">
    <p class="title">¿A donde quieres ir?</p>
    <img style="width: 40%;" src="/assets/img/samura1anim.gif"><br><br>
    <a *ngFor="let item of this.routes" (click)="closeDialog()" [routerLink]="item.url"
      class="nes-btn is-primary">{{ item.title }}</a>
    <div class="cancel">
      <br><br>

      <button class="nes-btn">Cancelar</button>
    </div>
  </form>
</dialog>